* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #52df27;
  color: #fff;
  padding: 20px 130px;
  height: 100vh;
  overflow: hidden;
}
/* after -> Depois */ /*before ->Antes*/
body::before {
  content: "";
  background: #0a0909de;
  width: 100%;
  height: 120%;
  position: absolute;
  top: 0;
  left: -430px;
  transform: rotate(-70deg);
}

body::after {
  content: "NIKE";
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000;
  font-size: 200px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.img-logo {
  width: 80px;
  position: relative;
  z-index: 1;
}

.imagem-projeto {
  width: 500px;
  transform: rotate(-25deg);

  filter: drop-shadow(#181717b0 1rem 1rem 10px);
}

h1 {
  font-size: 25px;
}

h3 {
  font-size: 45px;
}

p {
  font-size: 16px;
  margin-bottom: 30px;
}

.botao-carrinho {
  background: #52db37;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75%;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.caixa-texto {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.caixa-botoes {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 20px;
}

.botoes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;

  &:active {
    opacity: 0.5;
  }
}

.verde {
  background: #52df27;
}

.rosa {
  background: #f58da6;
}

.azul {
  background: #4ecef1;
}

@media (max-width: 900px) {
  body::before {
    content: "";
    background: #0a0909de;
    width: 180%;
    height: 80%;
    position: absolute;
    top: 0;
    left: -650px;
    transform: rotate(-70deg);
  }

  body::after {
    content: "NIKE";
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 200px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  body {
    padding: 15px 60px;
    height: 100%;
    overflow: hidden;
  }

  body::before {
    content: "";
    background: #0a0909de;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateX(-10deg);
  }

  body::after {
    font-size: 150px;
  }

  .container {
    flex-wrap: wrap;
    gap: 50px;
    height: 100%;
  }

  .caixa-texto {
    height: 100%;
  }

  .caixa-imagem {
    margin-bottom: 20px;
  }

  h1 {
    margin-bottom: -10px;
  }
  h3 {
    font-size: 22px;
    margin-bottom: -10px;
  }

  p {
    margin-bottom: 15px;
  }

  .botao-carrinho {
    display: none;
  }

  .imagem-projeto {
    width: 250px;
    transform: rotate(-35deg);
  }

  .caixa-botoes {
    left: 20px;
    top: 15px;
  }
}
